@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --main-color: #102C57;
  --second-color: #EADBC8;
  --third-color: #dbcebc;
  --fourth-color: #8d9396;
  --font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  @apply bg-second;
  font-optical-sizing: auto;
  font-style: var(--font-size);
  overflow: hidden;
  height: 100dvh;
  display: flex;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

.text-main {
  color: var(--main-color);
}

.text-second {
  color: var(--second-color);
}

.text-third {
  color: var(--third-color);
}

.text-fourth {
  color: var(--fourth-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-main-light {
  background-color: var(--main-color-light);
}

.bg-second {
  background-color: var(--second-color);
}

.bg-third {
  background-color: var(--third-color);
}

.bg-fourth {
  background-color: var(--fourth-color);
}

.text-danger {
  color: #ff4d4f;
}

.text-green {
  color: #41B06E;
}

.border-main {
  border-color: var(--main-color);
}

.border-main-important {
  border-color: var(--main-color) !important;
}

.border-fourth {
  border-color: var(--fourth-color);
}

.steps-container {
  margin: auto;
}

.main-content {
  width: 90vw;
  max-width: 600px;
  height: calc(100dvh - 340px);
  padding: 0;
  margin: 0.5rem;
  overflow-y: auto;

  @media (max-width: 767px){
    width: 95vw;
    height: calc(100dvh - 220px);
    margin: auto;
  }
}

table {
  thead {
    tr {
      th {
        @apply text-main p-3;

        @media (max-width: 575px) {
          @apply text-main p-1 pb-3;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        @apply pb-3;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.step-3-h {
  height: calc(100dvh - 350px);
  overflow-y: auto;

  @media (max-width: 767px) {
    height: calc(100dvh - 220px);
  }
}



.people-space {
  max-width: 700px;
  margin: auto;
  height: calc(100dvh - 580px);
  overflow-y: auto;

  @media (max-width: 575px){
    height: calc(100dvh - 450px);
  }
}


/// ant override

.ant-btn-primary {
  box-shadow: none;
}

.ant-input-outlined[disabled] {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.09);
}

.ant-input {
  font-size: 16px;
  padding: 0.15rem 0.5rem;

  @media (max-width: 575px) {
    padding: 0.15rem 0.25rem;
  }
}

.ant-upload {
  display: flex;
  width: 100%;
}

.ant-upload-select {
  width: 100%;
}

.ant-carousel .slick-dots li button {
  background-color: var(--main-color) !important;
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header .ant-collapse-expand-icon {
  padding-inline-end: none !important;
}

.ant-carousel .slick-dots-bottom {
  bottom: 0;
}

.ant-collapse-header {
  background-color: var(--second-color);
  border-radius: 8px !important;
}

.ant-collapse-content-box {
  background-color: var(--second-color);
  border-radius: 0 0 8px 8px;
}

.ant-collapse {
  border: none !important;

  .ant-collapse-content {
    border: none !important;
  }

  .ant-collapse-item {
    border: none !important;
    box-shadow: none !important;
  }

  .ant-collapse-item-active {
    border : none !important;
  }
} 

.custom-table {
  tbody {
    tr {
      &:hover {
        td {
          background-color: var(--third-color);

          &:first-child {
            border-radius: 8px 0 0 8px;
          }

          &:last-child {
            border-radius: 0 8px 8px 0;
          }
        }
      }
    }
  }
}

table tbody tr td {
  padding: 0.5rem;
}