@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --main-color: #102C57;
  --second-color: #EADBC8;
  --third-color: #dbcebc;
  --fourth-color: #FEFAF6;
  --font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  @apply bg-second;
  font-optical-sizing: auto;
  font-style: var(--font-size);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

.text-main {
  color: var(--main-color);
}

.text-second {
  color: var(--second-color);
}

.text-third {
  color: var(--third-color);
}

.text-fourth {
  color: var(--fourth-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-second {
  background-color: var(--second-color);
}

.bg-third {
  background-color: var(--third-color);
}

.bg-fourth {
  background-color: var(--fourth-color);
}

.text-danger {
  color: #ff4d4f;
}

.text-green {
  color: #41B06E;
}

.border-main {
  border-color: var(--main-color);
}

table {
  thead {
    tr {
      th {
        @apply text-main p-3;
      }
    }
  }

  tbody {
    tr {
      td {
        @apply pb-3;
      }
    }
  }
}


/// ant override

.ant-btn-primary {
  box-shadow: none;
}

.ant-input-outlined[disabled] {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.09);
}

:where(.css-dev-only-do-not-override-15ltzq9).ant-carousel .slick-dots li button {
  background-color: var(--main-color) !important;
}